
//breakpoints:
$breakpoint-xl: 1100px;
$breakpoint-large: 1024px; // tablet
$breakpoint-medium-large: 900px; // in-between tablet and full-tablet
$breakpoint-medium: 767px; // highest possible phone
$breakpoint-medium-small: 620px; // in-between phone and tablet
$breakpoint-small: 480px; //

$site-padding: 2.5%;
$span-padding: 3%;
$max-site-width: 1200px;
$site-width: 100%;

$default-font-size: 16px;

$responsive: 'on';

@if $responsive == off {
	$max-site-width: 1010px;
	$site-width: 1010px;
	$site-padding: 10px;
	$breakpoint-xl: 0px;
	$breakpoint-large: 0px; // tablet
	$breakpoint-medium-large: 0px; // highest possible phone
	$breakpoint-medium: 0px; // highest possible phone
	$breakpoint-small: 0px; //
}

$breakpoints: xl,large,medium-large,medium,medium-small,small;

// colors
$light-light-gray: #f2f2f2;
$light-gray: #e3e3e3;
$green: #7aa633;
$okta-green: $green;
$gray: #999999;
$gray-blue: #9da7ac;

// blues:
$light-light-blue: #edf6fa;
$light-blue: #e1eff5;
$okta-blue: #0e6aa8;
$blue: $okta-blue;
$less-dark-blue: #003e64;
$dark-blue: #032d48;
$dark-dark-blue: #012134;
$dark-dark-dark-blue: #01141f;
$darkest-blue: #011c2c;